<br>
<div class="vf-body vf-u-margin__top--800">
    <section>
        <div class="vf-content vf-u-grid__col--span-1">
            <div>
                <mat-card>
                    <mat-card-title style="text-align: center">
                        <label class="vf-page-header__heading">
                            <h1>{{ data?.accession }}</h1>
                        </label>
                    </mat-card-title>
                    <mat-card-actions>
                        <dl>
                            <ng-container *ngIf="data?.accession">
                                <dt><b>BioSamples ID:</b></dt>
                                <dd>{{ data?.accession }}</dd>
                            </ng-container>

                            <ng-container *ngIf="data?.tracking_status">
                                <dt><b>Tracking Status:</b></dt>
                                <dd>{{ data?.tracking_status }}</dd>
                            </ng-container>

                            <ng-container *ngIf="data?.organism">
                                <dt><b>Scientific Name:</b></dt>
                                <dd>{{ data?.organism.text }}</dd>
                            </ng-container>

                            <ng-container *ngIf="data?.taxId">
                                <dt><b>Tax ID:</b></dt>
                                <dd>{{ data?.taxId }}</dd>
                            </ng-container>
                        </dl>
                        <hr>
                        <dl>
                            <ng-container *ngFor="let item of data?.customFields">
                                <dt><b>{{ item.name }}:</b></dt>
                                <dd>{{ item.value }}</dd>
                            </ng-container>
                        </dl>
                    </mat-card-actions>
                </mat-card>
                <br>

                <ng-container *ngIf="specimensDataLength !== 0">
                    <h2>Relationships</h2>
                    <div class="example-loading-shade"
                         *ngIf="isLoadingResults || isRateLimitReached">
                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                        <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                            Something went wrong, please try again!
                        </div>
                    </div>

                    <input type="search" id="searchValue" matInput style="width: 100%;" name="searchValue"
                           class="vf-search__input | vf-form__input" style="font-size: 14px; font-weight: 400;"
                           (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
                    <br>
                    <table mat-table [dataSource]="specimensData" matSort style="width: 100%;">
                        <ng-container matColumnDef="source" style="width: 100%;">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Source</th>
                            <td mat-cell *matCellDef="let row">
                                <a mat-button routerLink="/organism/{{row.source}}" target="_blank">{{ row.source }}</a>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Relationships Type</th>
                            <td mat-cell *matCellDef="let row"> {{ row.type }}</td>
                        </ng-container>

                        <ng-container matColumnDef="target">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Target</th>
                            <td mat-cell *matCellDef="let row">
                                <a mat-button routerLink="/organism/{{row.target}}" target="_blank">{{ row.target }}</a>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="specimensDisplayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: specimensDisplayedColumns;"></tr>
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="4">No data matching the filter "{{ input.value }}"</td>
                        </tr>
                    </table>
                    <mat-paginator [pageIndex]="pageIndex" class="pagination"
                                   [pageSize]="5" aria-label="Select page of users"
                                   #metadataPaginator [length]="resultsLength"></mat-paginator>
                </ng-container>
            </div>

        </div>
    </section>
</div>
