<br>
<div class="vf-body vf-u-margin__top--800">

    <section>
        <div class="vf-content vf-u-grid__col--span-1">
            <div>
                <mat-card>
                    <mat-card-title style="text-align: center"><label class="vf-page-header__heading">
                        <h1>{{ data?.accession }}</h1></label></mat-card-title>
                    <mat-card-actions>
                        <dl>
                            @if (data?.commonName) {
                                <dt><b>Common Name:</b></dt>
                                <dd>{{ data?.commonName }}</dd>
                            }

                            @if (data?.accession) {
                                <dt><b>BioSamples ID:</b></dt>
                                <dd><a href="http://www.ebi.ac.uk/biosamples/samples/{{data?.accession}}"
                                       target="_blank">{{ data?.accession }}</a></dd>
                            }

                            @if (data?.tracking_status) {
                                <dt><b>Tracking Status:</b></dt>
                                <dd>{{ data?.tracking_status }}</dd>
                            }

                            @if (data?.organism) {
                                <dt><b>Organism:</b></dt>
                                <dd>{{ data?.organism.text }}</dd>
                            }

                            @if (data?.taxId) {
                                <dt><b>Tax ID:</b></dt>
                                <dd>{{ data?.taxId }}</dd>
                            }

                            <!-- custom fields -->
                            @for (sample of data?.customFields; track sample) {
                                <dt><b>{{ sample.name }}:</b></dt>
                                <dd>{{ sample.value }}</dd>
                            }
                        </dl>


                    </mat-card-actions>
                </mat-card>

                <br>
                @if (data?.relationships?.length) {
                    <hr>
                    <h1 class="col-sm-12 page-header">Relationships</h1>

                    <div class="table-container">
                        <table mat-table [dataSource]="dataSourceRecords" matSort class="mat-elevation-z8">

                            <ng-container matColumnDef="source">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Source</th>
                                <td mat-cell *matCellDef="let element"> {{ element.source }}</td>
                            </ng-container>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Relationships Type</th>
                                <td mat-cell *matCellDef="let element"> {{ element.type }}</td>
                            </ng-container>

                            <ng-container matColumnDef="target">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Target</th>
                                <td mat-cell *matCellDef="let element"> {{ element.target }}</td>
                            </ng-container>

                            <thead>
                            <tr mat-header-row *matHeaderRowDef="specDisplayedColumns"></tr>
                            </thead>
                            <tbody>
                            <tr mat-row *matRowDef="let row; columns: specDisplayedColumns;"></tr>
                            </tbody>
                        </table>
                        <mat-paginator pageSize="10" [length]="data['relationships']"></mat-paginator>
                    </div>
                }

            </div>

        </div>
    </section>
</div>

