.checkbox-label-filter {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px !important;
  white-space: normal;
  color: #000;
  line-height: 24px;
}

//.mat-list-item  {
//  padding: 15px !important;
//}
//
//.mat-paginator-outer-container {
//  display: flex;
//}
//*, :after, :before {
//  box-sizing: border-box;
//}
//
//.mat-paginator-container {
//  display: flex;
//  align-items: center;
//  justify-content: flex-end;
//  padding: 0 8px;
//  flex-wrap: wrap-reverse;
//  width: 100%;
//}
//.mat-paginator-container {
//  min-height: 56px;
//}
//.mat-option-text {
//  display: inline-block;
//  flex-grow: 1;
//  overflow: hidden;
//  text-overflow: ellipsis;
//}
//.mat-select-value {
//  width: 100%;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  white-space: nowrap;
//}
//.pagination-panal {
//  display: flex;
//  justify-content: flex-start;
//}
// .mat-select {
//   font-family: Roboto,Helvetica Neue,sans-serif;
//   width: 5em;
//   margin-left: 0.4em;
//   margin-right: 0.4em;
//   border: solid #f3f3f3;
//   padding: 0.4em;
// }
//

 //.mat-select {
 //  display: inline-block;
 //  width: 100%;
 //  outline: none;
 //}
//div, input, select, span {
//  font-size: 14px;
//  align-items: center;
//}
//
//div.paginator-main-pane {
//  margin-top: 0.3em;
//}
//
.example-container {
  position: relative;
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
}
.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 800px;
  overflow: auto;
}


.container2 {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: flex-start;
}
input.vf-form__input, select.vf-form__select {
  font-size: 14px;
}

.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
div.paginator-main-pane {
  margin-top: 0.3em;
}


div.page-size-pane {
  display: flex;
  justify-content: flex-start;
}
select.vf-form__select {
  width: 100px;;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  padding-left: 0.4em;
}
div.pages-navigation-pane {
  display: flex;
  justify-content: flex-end;
}

div.pages-navigation-pane span {
  grid-gap: 1em;
  margin: 0 1em 0 1em;
}
.commonSourceName {
  letter-spacing: 0;
  font-weight: 500;
  font-size: 14px;
  text-transform: initial;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  margin-left: .5rem;
}
.filter-label{
  cursor: pointer;
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.71;
}
//.mat-header-row,
//.mat-footer-row,
//.mat-row {
//  min-width: 1920px;
//}
//
//@media (max-width: 1200px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 2500px;
//  }
//}
//
//@media (max-width: 992px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 3000px;
//  }
//}
//
//@media (max-width: 768px) {
//  .mat-header-row,
//  .mat-footer-row,
//  .mat-row {
//    min-width: 4000px;
//  }
//}

//.mat-card:not([class*=mat-elevation-z]) {
//  /* box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%); */
//  .
//  .mat-card {
//    box-shadow: 0px;
//    display: flex;
//    border-radius: 0px !important;
/////* position: relative; */
/////* padding: 16px; */
/////* border-radius: 4px;
//}
//}
//mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  box-sizing: border-box;
//  padding: unset;
//  position: relative;
//  height: inherit;
//  padding: 0.25rem;
//}

.mat-card-actions.mat-mdc-card-actions.mdc-card__actions {
  background-color: blue;
}

.testkoosum {
  color: green;
}

.subscription-icon {
  color: steelblue;
}

.mat-dialog-title-font {
  /*color: steelblue;*/
}

div.mat-dialog-actions mat-button {
  margin:0 auto;
  display:block;
  color: red;
}

#cancel-btn , #register-btn {
  padding: 5px 5px;
}

.dialog-btn-section{
  background-color: #8FBC45;
  text-align: center;
}

.divider{
  width:5px;
  height:auto;
  display:inline-block;
}

.flexbox {
  display: flex;
  justify-content:  space-between;
  flex-wrap: wrap;
}
.flex-item {
  margin: 10px auto;
  padding: 5px;
}
