<div class="vf-u-margin__top--800" style="margin: 0 10% 10%" xmlns="http://www.w3.org/1999/html">

  <section class="embl-grid">

    <div class="vf-content vf-u-grid__col--span-2--lg"  style="margin: -21px;">

      <div class="row column filterList">
        <legend class="vf-form__legend hide-for-small-only" style="margin-top: 165px;">Filter by:
        </legend>
        <br>
          <mat-card fxFlex class="mat-elevation-z8" layout-margin >
            <mat-card-title>Data status</mat-card-title>
            <mat-card-actions >
              <mat-list role="list">
                <mat-divider></mat-divider>@if (getStatusCount(aggregations?.biosamples.buckets)) {
                <mat-list-item role="listbox"
                  [style]="checkStyle('BioSamples - Submitted')"
                  (click)="onFilterClick('biosamples','BioSamples - Submitted')" style="cursor: pointer;">
                  <h4 matLine class="ellipsis">BioSamples - Submitted ({{getStatusCount(aggregations?.biosamples.buckets)}})</h4>
                </mat-list-item>
              }
              <mat-divider></mat-divider> @if (getStatusCount(aggregations?.raw_data.buckets)) {
              <mat-list-item role="listbox"
                [style]="checkStyle('Raw Data - Submitted')"
                (click)="onFilterClick('raw_data','Raw Data - Submitted')" style="cursor: pointer;">
                <h4 matLine class="ellipsis">Raw Data - Submitted (
                {{getStatusCount(aggregations?.raw_data.buckets)}})</h4>
              </mat-list-item>
            }
            <mat-divider></mat-divider>@if (getStatusCount(aggregations?.assemblies_status.buckets)) {
            <mat-list-item role="listbox"
              [style]="checkStyle('Assemblies - Submitted')"
              (click)="onFilterClick('assemblies','Assemblies - Submitted')" style="cursor: pointer;">
              <h4 matLine class="ellipsis">Assemblies - Submitted ({{getStatusCount(aggregations?.assemblies_status.buckets)}})</h4>
            </mat-list-item>
          }
          <mat-divider></mat-divider>@if (getStatusCount(aggregations?.annotation_complete.buckets)) {
          <mat-list-item  role="listbox"
            [style]="checkStyle('Annotation Complete - Done')"
            (click)="onFilterClick('annotation_complete','Annotation Complete - Done')" style="cursor: pointer;">
            <h4 matLine class="ellipsis">Annotation Complete - Done ({{getStatusCount(aggregations?.annotation_complete.buckets)}})</h4>
          </mat-list-item>
        }
      </mat-list>
    </mat-card-actions>
  </mat-card>
  <br>
    <mat-card fxFlex class="mat-elevation-z8" layout-margin >
      <mat-card-title>Symbionts</mat-card-title>
      <mat-card-actions >
        <mat-list role="list">
          @for (filter of symbiontsFilters; track filter; let i = $index) {
            <mat-divider></mat-divider>
            <mat-list-item role="listbox"
              [style]="checkStyle(filter.label + '-' + filter.key)"
              (click)="onFilterClick(filter.label, filter.key)" style="cursor: pointer;">
              <h4 matLine class="ellipsis">{{filter.key}} ( {{filter.doc_count}})</h4>
            </mat-list-item>
          }
        </mat-list>
      </mat-card-actions>
    </mat-card>
    <br>
      <mat-card fxFlex class="mat-elevation-z8" layout-margin >
        <mat-card-title>Metagenomes</mat-card-title>
        <mat-card-actions >
          <mat-list role="list">
            @for (filter of metagenomesFilters; track filter; let i = $index) {
              <mat-divider></mat-divider>
              <mat-list-item role="listbox"
                [style]="checkStyle(filter.label + '-' + filter.key)"
                (click)="onFilterClick(filter.label, filter.key)" style="cursor: pointer;">
                <h4 matLine class="ellipsis">{{filter.key}} ( {{filter.doc_count}})</h4>
              </mat-list-item>
            }
          </mat-list>
        </mat-card-actions>
      </mat-card>
      <br>

        <mat-card fxFlex class="mat-elevation-z8"  >
          <mat-card-title>Projects
            @if ((( aggregations?.project_name.buckets?.length > filterSize ) && isCollapsed)) {
              <i class="material-icons float-right"  style="cursor: pointer;" (click)="toggleCollapse()">add</i>
            }
            @if (( !isCollapsed)) {
              <i class="material-icons float-right"  style="cursor: pointer;"  (click)="toggleCollapse()">remove</i>
            }

          </mat-card-title>

          <mat-card-actions>
            <mat-list  role="listbox">

              @for (project of  aggregations?.project_name.buckets; track project; let i = $index) {
                @if (i<itemLimit) {
                    <mat-divider></mat-divider>
                  <mat-list-item
                    [style]="checkStyle(project.key)  "
                    (click)="onFilterClick('project_name',convertProjectName(project.key))"  >
                    <mat-divider></mat-divider>
                      <h4 matLine class="ellipsis" style="white-space: normal;">
                          {{convertProjectNameKey(project.key)}} ({{project.doc_count}})
                      </h4>
                  </mat-list-item>
                }
              }
            </mat-list>
          </mat-card-actions>
        </mat-card>

        <br>

          <mat-card fxFlex class="mat-elevation-z8"  >
            <mat-card-title>
              Phylogeny/{{currentClass}}
              @if (phylogenyFilters.length !== 0) {
                <mat-icon (click)="onRefreshClick()" style="cursor: pointer;">
                  refresh
                </mat-icon>
              }
              @if (phylogenyFilters.length !== 0) {
                <mat-icon (click)="onHistoryClick()" style="cursor: pointer">
                  arrow_circle_left
                </mat-icon>
              }
            </mat-card-title>
            <mat-card-actions>
                <div>
                    @for (phylogeny_name of aggregations?.taxonomies[currentClass]?.buckets; track phylogeny_name) {
                        <mat-list role="list">
                            <mat-divider></mat-divider>
                            <mat-list-item role="listbox"
                                           style="cursor: pointer" [style]="checkStyle(phylogeny_name.key)"
                                           (click)="onFilterClick('phylogeny',phylogeny_name.key, true)">
                                <h4 matLine class="ellipsis">{{ phylogeny_name.key }} ({{ phylogeny_name.doc_count }}
                                    )</h4>
                            </mat-list-item>
                        </mat-list>
                    }
                </div>
        </mat-card-actions>
      </mat-card>

    </div>
  </div>

  <div class="vf-content vf-u-grid__col--span-3">



    <br>
      <label class="vf-page-header__heading"><h1>Data Portal</h1></label>
      <br>
      <mat-chip-set>
          @for (field of activeFilters; track field) {
              <div class="item4">
                  <mat-chip selected (click)="onFilterClick('removeFilter',field)"
                            style="cursor: pointer; background-color: limegreen; color: black;">
                      {{ displayActiveFilterName(field) }}
                      <mat-icon>close</mat-icon>
                  </mat-chip>
              </div>
          }

          @if (phylogenyFilters.length > 0) {
              <mat-chip selected (click)="removePhylogenyFilters()"
                        style="cursor: pointer; background-color: limegreen; color: black;">
                  {{ displayActiveFilterName(lastPhylogenyVal) }}
                  <mat-icon>close</mat-icon>
              </mat-chip>
          }

          @if(activeFilters.length > 0 || phylogenyFilters.length > 0){
              <mat-chip selected (click)="removeFilter()"
                        style="cursor: pointer; background-color: #EE4B2B; color: white;">
                  Remove all filters
                  <mat-icon>close</mat-icon>
              </mat-chip>
          }

      </mat-chip-set>
        <br>
          <div class="vf-form__item | vf-search__item">
                <input type="search" id="searchValue" matInput style="
width: 99%;" placeholder="e.g. Salmo trutta" name="searchValue" class="vf-search__input | vf-form__input" [(ngModel)]='this.searchValue'
              (ngModelChange)="this.searchUpdate.next($event)">

          </div>

      <div style="float: right;font-size: 14px; font-weight: 400;">
          @if (this.activeFilters.length > 0) {
              <button (click)="openDownloadDialog(this.activeFilters[0])" style="float: left;margin-top: 10px;"
                      class="vf-button vf-button--primary vf-button--outline vf-button--sm">
                  Download
              </button>
          }
          <button style="float: left;margin-top: 10px;" type="submit"
                  class="vf-button vf-button--primary vf-button--outline vf-button--sm"
                  (click)="downloadFile('metadata', false)">Download metadata
          </button>

          @if (isLoadingResults || isRateLimitReached) {
              <div>
                  <!--                <mat-spinner *ngIf="isLoadingResults"></mat-spinner>-->
                  @if (isRateLimitReached) {
                      <div class="example-loading-shade">
                          Something went wrong, please try again!
                      </div>
                  }
              </div>
          }
      </div>

          <mat-expansion-panel (opened)="expanded()" style="top: 20px;width: 100%;overflow: hidden;">
            <mat-expansion-panel-header >
              Column Selection
            </mat-expansion-panel-header>
            <div class="vf-form columns-form columns-form">
              @for (data of dataColumnsDefination; track data) {
                <div class="vf-form__item vf-form__item--checkbox column">
                  <input type="checkbox" name="{{data.label}}" value="{{data.label}}" id="{{data.label}}" class="vf-form__checkbox checkbox"   (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()"
                    [checked]="data.selected" (change)="showSelectedColumn(data, $event)"   [class.selected]="data.selected">
                  <label for="{{data.label}}" class="column__name vf-form__label" [class.selected]="data.selected">{{data.name}}</label>
                </div>
              }
            </div>
        </mat-expansion-panel>

        <br>
<br>
  <div style=" display: flex;">
    <table mat-table
      [dataSource]="data" matSort style="overflow: auto hidden; min-width: 100% ; "
      matSortActive="currentStatus"
      matSortDisableClear
      matSortDirection="asc" matTableExporter #exporter="matTableExporter" [hiddenColumns]="[4]">

      <!-- Number Column -->
      <ng-container matColumnDef="organism">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Organism</th>
        <td mat-cell *matCellDef="let row">
          <a mat-button [routerLink]="['/data_portal', row._source.organism]">
            {{row._source.organism}}
          </a>
        </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="commonName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Common Name</th>
        <td mat-cell *matCellDef="let row">{{row._source.commonName}}</td>
      </ng-container>

      <ng-container matColumnDef="commonNameSource">
        <th mat-header-cell *matHeaderCellDef>Common Name Source</th>
        <td mat-cell *matCellDef="let row">
          @if (row._source.commonNameSource && row._source.commonName) {
            <mat-chip style="align-content: center" selected [style]="getCommonNameSourceStyle(row._source.commonNameSource)">
              {{row._source.commonNameSource}}
            </mat-chip>
          }
        </td>
      </ng-container>

      <!-- State Column -->
      <ng-container matColumnDef="currentStatus">
        <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Current Status</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip style="align-content: center" selected [style]="getStyle(row['_source']['currentStatus'])">
            {{row._source.currentStatus}}
          </mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="externalReferences">
        <th mat-header-cell *matHeaderCellDef>External References</th>

        <td mat-cell *matCellDef="let row" >
          <mat-chip-set>
            @if (checkGenomeNotes(row._source)) {
              <mat-chip>
                <a class="vf-link" href="{{row._source.genome_notes[0]['url']}}">Genome Note</a>
              </mat-chip>
            }

            @if (row._source.goat_info && row._source.goat_info.length !== 0) {
              <mat-chip
                style="background-color: cornflowerblue; color: white">
                <a class="vf-link" href="{{row._source.goat_info['url']}}">GoaT Info</a>
              </mat-chip>
            }
            @if (row._source.tolid) {
              <mat-chip
                style="background-color: limegreen; color: black">
                <a class="vf-link" href="{{generateTolidLink(row._source)}}">ToL QC</a>
              </mat-chip>
            }
          </mat-chip-set>
        </td>
      </ng-container>
      <ng-container matColumnDef="biosamples">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Metadata submitted to BioSamples</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['biosamples'])">{{row._source.biosamples}}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="raw_data">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Raw data submitted to ENA
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['raw_data'])">{{row._source.raw_data}}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="mapped_reads">
        <th *matHeaderCellDef mat-sort-header> Mapped reads submitted to ENA
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['mapped_reads'])">{{row._source.mapped_reads}}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="assemblies_status">
        <th *matHeaderCellDef mat-sort-header> Assemblies submitted to ENA</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['assemblies_status'])">{{row._source.assemblies_status}}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="annotation_complete">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotation complete</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['annotation_complete'])">{{row._source.annotation_complete}}</mat-chip>
        </td>
      </ng-container>

      <ng-container matColumnDef="annotation_status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Annotation submitted to ENA</th>
        <td mat-cell *matCellDef="let row">
          <mat-chip selected [style]="getStatusClass(row['_source']['annotation_status'])">{{row._source.annotation_status}}</mat-chip>
        </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!--          <tr class="mat-row" *matNoDataRow>-->
      <!--            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
    <!--          </tr>-->
  </table>

</div>
<app-paginator
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="resultsLength"
  (page)="changePage($event)"
></app-paginator>
</div>
</section>
</div>


<!-- Download Dialog Box -->
<ng-template let-data #downloadTemplate>
    <div mat-dialog-content class="centerContents">
        <h1 class="vf-form__legend hide-for-small-only">{{downloadDialogTitle}}</h1>
        <form [formGroup]="downloadForm" novalidate>
            <p>
                <mat-radio-group aria-label="Select an option" formControlName="downloadOption">
                    <div><mat-radio-button value="assemblies" color="primary" class="vf-text-body vf-text-body--2">All Assemblies</mat-radio-button></div>
                    <div ><mat-radio-button value="annotation" color="primary" class="radio vf-text-body vf-text-body--2">Annotation</mat-radio-button></div>
                </mat-radio-group>
                @if (displayError('downloadOption', 'required') && displayErrorMsg) {
                    <mat-error class="errorMsg">
                        <div>
                            Please select an option!
                        </div>
                    </mat-error>
                }
            </p>
            <div class="vf-text-body vf-text-body--3">
                To download data outside of the web interface, please see
                <a target="_blank" [routerLink]="['/bulk-downloads/']">Bulk Downloads</a>
            </div>
        </form>

        @if (displayProgressBar) {
            <div style="padding: 15px">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        }

        <div class="buttonContainer">
            <button   class="vf-button vf-button--primary vf-button--outline vf-button--sm" (click)="onCancelDialog()" >Cancel</button>
            <button class="vf-button vf-button--primary vf-button--outline vf-button--sm"  (click)="onDownload()"
                    [disabled]="downloadForm.get('downloadOption')?.invalid || displayProgressBar"
                    >
                Download
            </button>
        </div>

    </div>
</ng-template>
