<div class="vf-u-margin__top--800" style="margin: 0 10% 25%"  xmlns="http://www.w3.org/1999/html">


<section>
<div class="vf-body" >
    <div class="vf-content vf-grid                                                                                                                                                                                                                       __col--span-1">

        <section >
            <br>
            <div style="text-align: center">

                <h2 class="page-header">About this portal</h2>

            <br>
            <div class="vf-summary vf-summary--publication"      style="margin-bottom: -100px;">
                <a  href="https://www.earthbiogenome.org/"><img src="assets/projects-logo-images/earth-project-new.png" alt=""
                                                   loading="lazy" style="width: 60%;height: 370px;margin-bottom: 58px;margin-left: -47px;" ></a>
               <br>
                <p class="vf-box__text vf-text-body--2">
                    The global biodiversity portal provides open access to biodiversity reference genomes from a
                    range of global biodiversity efforts under the banner of the
                    <a href="https://www.earthbiogenome.org/">Earth Biogenome project</a>.
                    The portal is powered by EMBL-EBI and developed as part of the EMBL Planetary Biology
                    Transversal theme.
                </p>
            </div>
            </div>
        </section>
    </div>

</div>
</section>
</div>
