<div class="vf-u-margin__top--800" style="margin: 0 10% 10%" xmlns="http://www.w3.org/1999/html">

<div class="vf-body" >
    <div class="vf-content vf-grid__col--span-1">

        <section class="vf-u-margin__bottom--800">
            <h2 class="vf-u-type__text-heading--4">About this portal</h2>
            <article class="vf-summary vf-summary--publication" style="min-height: 10rem;
                         width: 64%;">
                <a  href="https://www.earthbiogenome.org/"><img src="assets/projects-logo-images/earth-project-new.png" alt="" class="vf-card__image" loading="lazy" style="min-height: 13rem;
                         width: 109%;" ></a>
                <p class="vf-box__text vf-text-body--2">
                    The global biodiversity portal provides open access to biodiversity reference genomes from a
                    range of global biodiversity efforts under the banner of the
                    <a href="https://www.earthbiogenome.org/">Earth Biogenome project</a>.
                    The portal is powered by EMBL-EBI and developed as part of the EMBL Planetary Biology
                    Transversal theme.
                </p>
            </article>
        </section>
    </div>

</div>

</div>
