<br>

<br>

<div class="vf-body vf-u-margin__top--800">

    <section class="embl-grid">

        <div class="vf-content vf-u-grid__col--span-1">
            <div class="row column filterList">
                <legend class="vf-form__legend hide-for-small-only" style="
    margin-top: 165px;">Filter by:
                </legend>
                <br>

                <legend class="vf-form__legend"> Data Status</legend>
                <br>
                <div class="vf-form__item vf-form__item--checkbox checkbox"
                     *ngIf="getStatusCount(aggregations?.biosamples.buckets)">
                    <input type="checkbox" name="BioSamples - Submitted" value="BioSamples - Submitted"
                           id="bioSamplesSubmitted" class="vf-form__checkbox"
                           [style]="checkStyle('BioSamples - Submitted')"
                           (click)="onFilterClick('BioSamples - Submitted')">
                    <label for="bioSamplesSubmitted" class="vf-form__label checkbox-label-filter">BioSamples - Submitted
                        ({{getStatusCount(aggregations?.biosamples.buckets)}})</label>
                </div>
                <div class="vf-form__item vf-form__item--checkbox checkbox"
                     *ngIf="getStatusCount(aggregations?.raw_data.buckets)">
                    <input type="checkbox" name="Raw Data - Submitted" value="Raw Data - Submitted"
                           id="rawDataSubmitted" class="vf-form__checkbox" [style]="checkStyle('Raw Data - Submitted')"
                           (click)="onFilterClick('Raw Data - Submitted')">
                    <label for="rawDataSubmitted" class="vf-form__label checkbox-label-filter">Raw Data - Submitted
                        ({{getStatusCount(aggregations?.raw_data.buckets)}})</label>
                </div>
                <div class="vf-form__item vf-form__item--checkbox checkbox"
                     *ngIf="getStatusCount(aggregations?.mapped_reads.buckets)">
                    <input type="checkbox" name="Mapped Reads - Submitted" value="Mapped Reads - Submitted"
                           id="mappedReadsSubmitted" class="vf-form__checkbox"
                           [style]="checkStyle('Mapped Reads - Submitted')"
                           (click)="onFilterClick('Mapped Reads - Submitted')">
                    <label for="mappedReadsSubmitted" class="vf-form__label checkbox-label-filter">Mapped Reads - Submitted
                        ({{getStatusCount(aggregations?.mapped_reads.buckets)}})</label>
                </div>
                <div class="vf-form__item vf-form__item--checkbox checkbox"
                     *ngIf="getStatusCount(aggregations?.assemblies_status.buckets)">
                    <input type="checkbox" name="Assemblies - Submitted" value="Assemblies - Submitted"
                           id="assembliesSubmitted" class="vf-form__checkbox"
                           [style]="checkStyle('Assemblies - Submitted')"
                           (click)="onFilterClick('Assemblies - Submitted')">
                    <label for="assembliesSubmitted" class="vf-form__label checkbox-label-filter">Assemblies - Submitted
                        ({{getStatusCount(aggregations?.assemblies_status.buckets)}})</label>
                </div>
                <div class="vf-form__item vf-form__item--checkbox checkbox"
                     *ngIf="getStatusCount(aggregations?.annotation_complete.buckets)">
                    <input type="checkbox" name="Annotation Complete - Done" value="Annotation Complete - Done"
                           id="annotationCompleteDone" class="vf-form__checkbox"
                           [style]="checkStyle('Annotation Complete - Done')"
                           (click)="onFilterClick('Annotation Complete - Done')">
                    <label for="annotationCompleteDone" class="vf-form__label checkbox-label-filter">Annotation Complete - Done
                        ({{getStatusCount(aggregations?.annotation_complete.buckets)}})</label>
                </div>

                <br>
                <div class="row column filterList">
                    <legend class="vf-form__legend">Projects</legend>
                    <br>
                    <div *ngFor="let project of aggregations?.project_name.buckets">

                        <div class="vf-form__item vf-form__item--checkbox" *ngIf="project.key == 'DToL'">
                            <span class="vf-link" style="cursor: pointer;"
                                  (click)="onFilterClick(convertProjectName('dtol'))">{{convertProjectName(project.key)}}
                                ({{project.doc_count}})</span>
                        </div>
                        <div class="vf-form__item vf-form__item--checkbox" *ngIf="project.key == 'ASG'">
        <span class="vf-link" style="cursor: pointer;" (click)="onFilterClick(convertProjectName('ASG'))">
         {{convertProjectName(project.key)}} ({{project.doc_count}})</span>
                        </div>
                        <div class="vf-form__item vf-form__item--checkbox" *ngIf="project.key == 'ERGA'">
          <span class="vf-link" style="cursor: pointer;" (click)="onFilterClick(convertProjectName('ERGA'))">
            {{convertProjectName(project.key)}} ({{project.doc_count}})</span>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row column filterList">
                    <legend class="vf-form__legend">Phylogeny/{{currentClass}}
                        <mat-icon *ngIf="phylogenyFilters.length !== 0" (click)="onRefreshClick()"
                                  style="cursor: pointer">
                            refresh
                        </mat-icon>
                        <mat-icon *ngIf="phylogenyFilters.length !== 0" (click)="onHistoryClick()"
                                  style="cursor: pointer">
                            arrow_circle_left
                        </mat-icon>
                    </legend>
                    <br>

                    <div *ngFor="let phylogeny_name of aggregations?.taxonomies[currentClass]?.buckets">

            <span class="vf-link" id="{{phylogeny_name.key}}"
                  style="cursor: pointer; font-family: Roboto, Helvetica Neue, sans-serif;font-size: 16px !important;"
                  (dblclick)="onFilterClick(phylogeny_name.key)"
                  (click)="changeCurrentClass(phylogeny_name.key)">{{phylogeny_name.key}}
                ({{phylogeny_name.doc_count}}) <mat-icon>arrow_circle_right</mat-icon></span>

                    </div>
                </div>
            </div>
        </div>
        <div class="vf-content vf-u-grid__col--span-3">

            <div class="example-container mat-elevation-z8">
                <div class="example-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
                        Something went wrong, please try again!
                    </div>
                </div>




                    <br>
                <label class="vf-page-header__heading"><h1>Tracking System</h1></label>
                <br>
                <div class="vf-form__item | vf-search__item">
                    <input type="search" id="searchValue" matInput style="
    width: 99%;" placeholder="ex. Salmo trutta" name="searchValue" class="vf-search__input | vf-form__input" [(ngModel)]='this.searchValue'
                           (ngModelChange)="this.searchUpdate.next($event)">
                </div>

                <div style="float: right;font-size: 14px; font-weight: 400;">

                    <button style="float: left;margin-top: 10px;" type="submit"
                            class="vf-button vf-button--primary vf-button--outline vf-button--sm" (click)="exporter.exportTable('csv', {fileName: 'tracking_system'})">Download metadata
                    </button>
                </div>

                    <br>
                    <br>

                    <div style="overflow: auto hidden; display: block; white-space: nowrap; width: 992px; height: auto; cursor: pointer;">
                        <table mat-table [dataSource]="data" style="width:100%; height: auto;" matSort
                               matSortDisableClear
                               matSortDirection="asc" matTableExporter #exporter="matTableExporter" >
                            <!-- Number Column -->
                            <ng-container matColumnDef="organism">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Organism</th>
                                <td mat-cell *matCellDef="let row">
                                    <a mat-button [routerLink]="['/data_portal', row._source.organism]">
                                        {{row._source.organism}}
                                    </a>
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="commonName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Common Name</th>
                                <td  mat-cell
                                    *matCellDef="let row">{{row._source.commonName}}</td>
                            </ng-container>

                            <!-- State Column -->
                            <ng-container matColumnDef="biosamples">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header >Metadata submitted to BioSamples</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(row._source.biosamples)">
                                        {{row._source.biosamples}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="raw_data">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Raw data submitted to ENA</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(row._source.raw_data)">
                                        {{row._source.raw_data}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="mapped_reads">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Mapped reads submitted to ENA</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(row._source.mapped_reads)">
                                        {{row._source.mapped_reads}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="assemblies_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Assemblies submitted to ENA</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(row._source.assemblies_status)">
                                        {{row._source.assemblies_status}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="annotation_complete">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Annotation complete</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(row._source.annotation_complete)">
                                        {{row._source.annotation_complete}}
                                    </mat-chip>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="annotation_status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Annotation submitted to ENA</th>
                                <td mat-cell *matCellDef="let row">
                                    <mat-chip selected [style]="getStyle(checkColor(row._source.annotation_status))">
                                        {{row._source.annotation_status}}
                                    </mat-chip>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                            <!--          <tr class="mat-row" *matNoDataRow>-->
                            <!--            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
                            <!--          </tr>-->
                        </table>
                    </div>
                </div>




            <app-paginator
                    [pageSize]="pageSize"
                    [pageSizeOptions]=pageSizeOptions
                    [pageIndex]="pageIndex"
                    [length]="resultsLength"
                    (page)="changePage($event)"
            ></app-paginator>
        </div>
    </section>
</div>
<br>

