<header class="vf-global-header" >
    <a routerLink="/" class="vf-logo | vf-logo--has-text">
        <img style="height: 72px;" class="vf-logo__image" src="assets/Biodiversity-Portal-RGB.png" alt="The Biodiversity Portal"
             loading="eager">

    </a>
    <nav class="vf-navigation vf-navigation--global | vf-cluster" style="margin-top: -45px; margin-right:20px">
        <ul class="vf-navigation__list | vf-list | vf-cluster__inner">

            <li class="vf-navigation__item">
                <a  routerLink='/data_portal'  class="vf-navigation__link">Data portal</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink='/tracking'  class="vf-navigation__link">Status tracking</a>
            </li>
            <li class="vf-navigation__item">
                <a routerLink="/projects"  class="vf-navigation__link">Projects</a>
            </li>
            <li class="vf-navigation__item">
                <a routerLink="/phylogeny"  class="vf-navigation__link">Phylogeny</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/gis"  class="vf-navigation__link">Sampling Map</a>
            </li>

            <li class="vf-navigation__item dashboards-dropdown"
                [class.dashboards-dropdown--open]="isDashboardsMenuOpen"
                [class.dashboards-dropdown--dismissed]="isDashboardsMenuDismissed"
                (mouseenter)="openDashboardsMenu()"
                (mouseleave)="resetDashboardsMenu()">
                <button type="button"
                        class="vf-navigation__link dashboards-dropdown__button"
                        aria-haspopup="true"
                        [attr.aria-expanded]="isDashboardsMenuOpen"
                        (click)="showDashboardsMenu($event)"
                        (focus)="openDashboardsMenu()"
                        (keydown.escape)="closeDashboardsMenu()">
                    Dashboards
                </button>

                <ul class="dashboards-submenu" aria-label="Dashboard menu">
                    <li class="dashboards-submenu__item">
                        <a routerLink="/dashboards" [queryParams]="{ owner: 'koosum' }"
                           class="dashboards-submenu__link"
                           (click)="selectDashboardMenu($event)">Koosum's Dashboards</a>
                        <div class="dashboards-popup">
                            <strong>Koosum's Dashboards</strong>
                            <p>Data-portal metrics for the GBDP project.</p>
                        </div>
                    </li>
                    <li class="dashboards-submenu__item">
                        <a routerLink="/dashboards" [queryParams]="{ owner: 'juan' }"
                           class="dashboards-submenu__link"
                           (click)="selectDashboardMenu($event)">Juan's Dashboards</a>
                        <div class="dashboards-popup">
                            <strong>Juan's Dashboards</strong>
                            <p>Juan, you need to update this section.</p>
                        </div>
                    </li>
                </ul>
            </li>

            <li class="vf-navigation__item">
                <a routerLink="/publications"  class="vf-navigation__link">Publications</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/about"  class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/api_documentation"  class="vf-navigation__link">API Documentation</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/help"  class="vf-navigation__link">Help</a>
            </li>
        </ul>
    </nav>


</header>

<router-outlet></router-outlet>
<app-footer></app-footer>
