//.vf-intro {
//  display: grid;
//  grid-column: 2/-1 !important;
//  grid-column-gap: var(--page-grid-gap, 2em);
//  grid-template-areas: "... header header" "... ... links";
//  grid-template-columns: var(--embl-grid-module--prime) auto var(--embl-grid-module--prime);
//  .vf-intro[_ngcontent-pre-c189] {
//    display: grid;
//    grid-column: 2/-1 !important;
//    grid-column-gap: var(--page-grid-gap, 2em);
//    grid-template-areas: "... header header"
//    "... ... links";
//    grid-template-columns: var(--embl-grid-module--prime) auto var(--embl-grid-module--prime);
//    justify-content: space-around;
//  }
//}
vf-body {
  display: block;
  margin: 0 auto;
  max-width: 80em;
  max-width: var(--vf-body-width, 80em);
  padding: 0 1em;
}
