<header class="vf-global-header" >
    <a routerLink="/" class="vf-logo | vf-logo--has-text">
        <img style="height: 72px;" class="vf-logo__image" src="assets/Biodiversity-Portal-RGB.png" alt="The Biodiversity Portal"
             loading="eager">

    </a>
    <nav class="vf-navigation vf-navigation--global | vf-cluster" style="margin-top: -45px; margin-right:20px">
        <ul class="vf-navigation__list | vf-list | vf-cluster__inner">

            <li class="vf-navigation__item">
                <a  routerLink='/data_portal'  class="vf-navigation__link">Data portal</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink='/tracking'  class="vf-navigation__link">Status tracking</a>
            </li>
            <li class="vf-navigation__item">
                <a routerLink="/projects"  class="vf-navigation__link">Projects</a>
            </li>
            <li class="vf-navigation__item">
                <a routerLink="/phylogeny"  class="vf-navigation__link">Phylogeny</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/gis"  class="vf-navigation__link">Sampling Map</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/dashboards"  class="vf-navigation__link">Dashboards</a>
            </li>
            <li class="vf-navigation__item">
                <a routerLink="/publications"  class="vf-navigation__link">Publications</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/about"  class="vf-navigation__link">About</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/api_documentation"  class="vf-navigation__link">API Documentation</a>
            </li>
            <li class="vf-navigation__item">
                <a  routerLink="/help"  class="vf-navigation__link">Help</a>
            </li>
        </ul>
    </nav>


</header>

<router-outlet></router-outlet>
<app-footer></app-footer>
