
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }

.mat-body-strong,.mat-body-2,.mat-typography .mat-body-strong,.mat-typography .mat-body-2 {
  font: 500 14px/24px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal
}

.mat-body,.mat-body-1,.mat-typography .mat-body,.mat-typography .mat-body-1,.mat-typography {
  font: 400 14px/20px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal
}

.mat-mdc-chip {
  font-size: 14px;
  font-weight: 500;
}

.mat-mdc-chip .mat-mdc-chip-trailing-icon.mat-icon,.mat-mdc-chip .mat-mdc-chip-remove.mat-icon {
  font-size: 18px
}

body { margin: 0}
.vf-content table td {
  font-size: 16px !important;
  white-space: nowrap;
  cursor: auto;
  padding: 8px 16px;
}

.vf-content table th {
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: -1.5;
  margin: 0;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;


}
.mat-mdc-card {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;
}
.mat-mdc-card-actions {
  display: block;
  margin-left: -8px;
  margin-right: -9px;
  padding: 16px 0;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;

}
.vf-content h4:not([class*=vf-]) {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;;
  font-weight: normal;
  font-size: 16px;
  color: #1a1c1a;
  line-height: 1.29;
  text-overflow: ellipsis;
}

td.mat-mdc-cell, td.mat-mdc-footer-cell {
  border-bottom: none !important;
  white-space: nowrap !important;

}
.mdc-list-item__content {
  align-self: auto !important; /* Forces the override */
}
.mat-mdc-card>.mat-mdc-card-actions:last-child {
  margin-bottom: -18px;
  padding-bottom: 0;
}

.mat-mdc-header-cell {
  border: 0.1em solid white;
  text-align: left;
  white-space: nowrap;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: -1.5;
  margin: 0;
  padding: 8px 16px;
}



.mat-mdc-cell {
  border: 0.1em solid white;
  text-align: left;
  white-space: nowrap;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: -1.5;
  margin: 0;
}

.mat-mdc-header-cell {
  background-color: #d0d0ce;
  white-space: nowrap;
}

tr.mat-mdc-header-row {
  height: 40px;
  white-space: nowrap;
}

.checkbox {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 10px !important;
}

.checkbox-label {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px !important;
  white-space: normal;
  color: #000;
  line-height: 24px;
}

.vf-button--outline {
  --vf-button-background-color: #fff !important;
  color: #3b6fb6 !important;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
  padding-left: 10px;
}


@import "vf-preamble";
@import "vf-table/vf-table.scss";
.checkbox {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 10px !important;
}


table.mat-mdc-table {
  border-spacing: 0;
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
.vf-grid {
  margin: 0;
  max-width: initial;
  body::-webkit-scrollbar{
    display: none;
  }
}

.column-actions__scroller {
  display: flex;
  align-items: center;
}

.table-scroll {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  svg {
    width: 1.85rem;
    height: 1.85rem;
    color: #54585A;
  }
}

.columns-menu-wrapper {
  border: 1px solid #3b6fb6;
  background-color: #1a1c1a;
  padding: 1rem 2.5rem;
}

.column-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__scroller {
    display: flex;
    align-items: center;
  }
}

.select-columns-button {
  font-weight: normal;
  font-size: 14px;
}

.checkbox-label-column {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.columns-menu-wrapper {
  border: 1px solid #3b6fb6;
  background-color: #fff;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}



.columns-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .column {
    display: inline-block;
    user-select: none;
    margin-bottom: 4px;
    padding-right: 0.6rem;

    &__name {
      font-size: 16px;
    }

    .selected {
      font-weight: bold;
    }
  }
}
.pagination {
  padding-top: 0.4em;
  font-size: 14px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  color: #373a36;
  font-weight: 400;
  line-height: 1.71;
}
.mat-mdc-expansion-panel {
  overflow: scroll;

}
.mat-mdc-button, .mat-mdc-icon-button, .mat-mdc-stroked-button {
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width:1220px) {
  .vf-grid--has-sidebar>:last-child {
    position: relative;
    padding-left: 24px
  }
  .vf-grid--has-sidebar>:last-child:before {
    background-color: #d8d8d8;
    content: "";
    height: 100%;
    left: calc(var(--page-grid-gap) / -2);
    position: absolute;
    width: 1px
  }
}

@media (min-width:846px) and (max-width:1219px) {
  .vf-grid--has-sidebar>:last-child {
    padding-left: 24px
  }
}
@media(max-width:1900px){
  .mat-mdc-table{
    overflow: auto hidden;
    display: block;
  }
  td.last {
    width: 1px;
    white-space: nowrap;
    min-width:80%
  }
}
.container {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;

}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
//.mat-mdc-card-actions {
//  display:block;
//  margin-left: -8px;
//  margin-right: -8px;
//  padding: 8px 0;
//
//}
.mat-mdc-card-title {
  font-size: 24px;
  font-weight: 500;
  display: block;
  margin-bottom: 8px;

  font-family: Roboto, Helvetica Neue, sans-serif;
}
//.mat-mdc-list-base .mat-mdc-list-item .mat-mdc-line {
//  white-space: nowrap;
//  overflow: hidden;
//  text-overflow: ellipsis;
//  box-sizing: border-box;
//  font-family: Roboto, Helvetica Neue, sans-serif;
//  margin: 0;
//  padding: 0;
//  font-weight: normal;
//  font-size: 16px;
//}
//
//.mat-list-base .mat-list-item .mat-list-text>*, .mat-list-base .mat-list-option .mat-list-text>* {
//  margin: 0;
//  font-weight: normal;
//  font-size: 14px;
//}
.mat-mdc-list-base .mat-list-item .mat-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}
.mdc-list-item {
  display: flex;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
  align-items: stretch;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 5px;
  background-color: var(--mdc-list-list-item-container-color);
  border-radius: var(--mdc-list-list-item-container-shape, var(--mat-app-corner-none));
}


.mat-mdc-standard-chip {
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  border-radius: 16px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
  --mdc-chip-label-text-font: Roboto, sans-serif;
  --mdc-chip-label-text-line-height: 20px;
  --mdc-chip-label-text-size: 15px;
  --mdc-chip-label-text-tracking: 0.0178571429em;
  --mdc-chip-label-text-weight: 502;
}

.mat-mdc-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
}
//.mat-mdc-standard-chip {
//  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
//  display: inline-flex;
//  padding: 7px 12px;
//  border-radius: 16px;
//  align-items: center;
//  cursor: default;
//  min-height: 32px;
//  height: 1px;
//}
.material-icons {
  display: inline-block;
}
//.mat-mdc-list-base .mat-mdc-list-item .mat-mdc-list-item-content, .mat-mdc-list-base .mat-mdc-list-option .mat-mdc-list-item-content {
//  display: flex;
//  flex-direction: row;
//  align-items: center;
//  box-sizing: border-box;
//  padding: 0 16px;
//  position: relative;
//  height: inherit;
//}
//.mat-mdc-card-actions:last-child {
//  margin-bottom: -8px;
//  padding-bottom: 0;
//}
 //.mat-mdc-divider {
 //  display: block;
 //  margin: 0;
 //  border-top-width: 1px;
 //  border-top-style: solid;
 //}
//.mat-mdc-list-item  {
//  padding: 15px !important;
//}

//.mat-mdc-card-title {
//  font-size: 24px;
//  font-weight: 500;
//  display: block;
//  margin-bottom: 8px;
//  font-family: Roboto, Helvetica Neue, sans-serif;
//}
//.mat-mdc-card {
//  background: #fff;
//  color: #000000de;
//  padding: 16px;
//  font-family: Roboto, Helvetica Neue, sans-serif;
//}
.mat-mdc-focus-indicator {
  position: relative;
}

.mat-mdc-focus-indicator:before {
  inset: 0;
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  display: var(--mat-focus-indicator-display, none);
  border: var(--mat-focus-indicator-border-width, 3px) var(--mat-focus-indicator-border-style, solid) var(--mat-focus-indicator-border-color, transparent);
  border-radius: var(--mat-focus-indicator-border-radius, 4px)
}

.mat-mdc-focus-indicator:focus:before {
  content: ""
}
.mat-typography p {
  margin: 0 0 17px;
}

.mat-list-base .mat-list-item .mat-list-item-content, .mat-list-base .mat-list-option .mat-list-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
  position: relative;
  height: inherit;
}
