
//@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

html, body { height: 100%; }
body { margin: 0}
.vf-content table td {
  font-size: 16px !important;
  white-space: nowrap;
  cursor: auto;
  padding: 8px 16px;
}

.vf-content table th {
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  font-size: 19px;
  color: #1a1c1a;
  font-weight: 500;
  line-height: -1.5;
  margin: 0;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;


}

td.mat-mdc-cell, td.mat-mdc-footer-cell {
  border-bottom: none !important;
  white-space: nowrap !important;

}

.mat-mdc-header-cell {
  border: 0.1em solid white;
  text-align: left;
  white-space: nowrap;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: -1.5;
  margin: 0;
  padding: 8px 16px;
}

.mat-mdc-cell {
  border: 0.1em solid white;
  text-align: left;
  white-space: nowrap;
  font-family: IBM Plex Sans, Helvetica, Arial, sans-serif;
  line-height: -1.5;
  margin: 0;
}

.mat-mdc-header-cell {
  background-color: #d0d0ce;
  white-space: nowrap;
}

tr.mat-mdc-header-row {
  height: 40px;
  white-space: nowrap;
}

.checkbox {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 10px !important;
}

.checkbox-label {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px !important;
  white-space: normal;
  color: #000;
  line-height: 24px;
}

.vf-button--outline {
  --vf-button-background-color: #fff !important;
  color: #3b6fb6 !important;
}

td.mat-mdc-cell:first-of-type, td.mat-mdc-footer-cell:first-of-type {
  padding-left: 10px;
}


@import "vf-preamble";
@import "vf-table/vf-table.scss";
.checkbox {
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 10px !important;
}


table.mat-mdc-table {
  border-spacing: 0;
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
}
body::-webkit-scrollbar{
  display: none;
}
.vf-grid {
  margin: 0;
  max-width: initial;
  body::-webkit-scrollbar{
    display: none;
  }
}

.column-actions__scroller {
  display: flex;
  align-items: center;
}

.table-scroll {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;

  svg {
    width: 1.85rem;
    height: 1.85rem;
    color: #54585A;
  }
}

.columns-menu-wrapper {
  border: 1px solid #3b6fb6;
  background-color: #1a1c1a;
  padding: 1rem 2.5rem;
}

.column-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &__scroller {
    display: flex;
    align-items: center;
  }
}

.select-columns-button {
  font-weight: normal;
  font-size: 14px;
}

.checkbox-label-column {
  color: #54585a;
  cursor: pointer;
  padding: 0;
  position: relative;
}

.columns-menu-wrapper {
  border: 1px solid #3b6fb6;
  background-color: #fff;
  padding: 1rem 1.5rem;
  white-space: nowrap;
}



.columns-form {
  display: grid;
  grid-template-columns: 1fr 1fr;

  .column {
    display: inline-block;
    user-select: none;
    margin-bottom: 4px;
    padding-right: 0.6rem;

    &__name {
      font-size: 16px;
    }

    .selected {
      font-weight: bold;
    }
  }
}
.pagination {
  padding-top: 0.4em;
  font-size: 14px;
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  color: #373a36;
  font-weight: 400;
  line-height: 1.71;
}
.mat-mdc-expansion-panel {
  overflow: scroll;

}
.mat-mdc-button, .mat-mdc-icon-button, .mat-mdc-stroked-button {
  font-family: IBM Plex Sans,Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (min-width:1220px) {
  .vf-grid--has-sidebar>:last-child {
    position: relative;
    padding-left: 24px
  }
  .vf-grid--has-sidebar>:last-child:before {
    background-color: #d8d8d8;
    content: "";
    height: 100%;
    left: calc(var(--page-grid-gap) / -2);
    position: absolute;
    width: 1px
  }
}

@media (min-width:846px) and (max-width:1219px) {
  .vf-grid--has-sidebar>:last-child {
    padding-left: 24px
  }
}
@media(max-width:1900px){
  .mat-mdc-table{
    overflow: auto hidden;
    display: block;
  }
  td.last {
    width: 1px;
    white-space: nowrap;
    min-width:80%
  }
}
.container {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;

}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #ffffff;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}

.mat-list-base .mat-list-item .mat-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  box-sizing: border-box;
}
